<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${actor.actorFullName}">Актёр</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <a class="btn btn-outline-secondary"
       th:href="${fromMovie != null}
               ? @{/movies/{id}(id=${fromMovie})}
               : @{/movies}">
        ← Назад
    </a>

    <div class="detail-card">
        <h1 th:text="${actor.actorFullName}">Имя актёра</h1>
        <img th:if="${actor.actorPhoto}" th:src="@{${actor.actorPhoto}}"
             class="detail-photo" alt="Фото актёра"/>
        <p>
            <strong>Дата рождения:</strong>
            <span th:text="${#temporals.format(actor.actorBirthDate,'dd.MM.yyyy')}"/>
        </p>
        <h3>Биография</h3>
        <p th:utext="${actor.actorBiography}">...</p>
    </div>
</div>
</body>
</html>
